#maint{width: 45%;}
#qqq{width: 100%;}
#www{width: 100%;}
#eee{width: 100%;}

/* #alerts_underline{width: 40%;  height:98%; border: solid black}
#alerts_programs{width: 30% float :left; height:140px; border: solid red}
#alerts_treatment{width: 30%; height:140px; border: solid green}*/
