<style>

  .tt_controls_year_of_birth #qwerty { display:none; }
  .tt_controls_age_estimate #qwerty { display:none; }
  .tt_controls_cell_phone_number #qwerty { display:none; }
  .tt_controls_ground_phone_number #qwerty { display:none; }
  .tt_controls_office_phone_number #qwerty { display:none; }

  .tt_controls_year_of_birth #Unknown { display:block; }
  .tt_controls_age_estimate #Unknown { display:none; }

  .tt_controls_middle_name  #na { display: block; }
  .tt_controls_ground_phone_number #Unknown { display:block; }

  .tt_controls_region_of_origin .keyboard{display:none;}
  .tt_controls_current_region .keyboard{display:none;}

  .tt_controls_month_of_birth .keyboard { display:none; }
  #tt_page_month_of_birth .options { height:570px !important; }
  #tt_page_month_of_birth .options li { font-size:30px !important; }
  .tt_controls_month_of_birth .inputFrameClass { height:570px !important; }
  .tt_controls_month_of_birth .options { height:570px !important; }


  .tt_controls_home_village #space , #apostrophe { display:inline; }
  .tt_controls_home_district #num  { display:none; }

  .tt_controls_current_traditional_authority_ta #space { display:inline; }

  .tt_controls_current_village_residence #space { display:inline; }

  .tt_controls_cell_phone_number #num , #plus, #apostrophe, #star, #char, #abc, #date, #slash, #minus, #comma, #percent, #decimal { display:none; }

  .tt_controls_home_phone_number #num , #plus, #apostrophe, #star, #abc, #date, #slash, #minus, #comma, #percent, #decimal { display:none; }

  .tt_controls_office_phone_number #num , #plus, #apostrophe, #star, #abc, #date, #slash, #minus, #comma, #percent, #decimal { display:none; }

  .tt_controls_occupation .keyboard{display:none;}
    #tt_page_occupation .options{height:500px;}
    #tt_page_occupation .options li{font-size:30px;}
    #space {display:inline;}

    .nota #na {
        display: block;
    }

     #num{ display:block; }
     #char{ display:none; }
     #apostrophe { display:inline; }

    .tt_controls_home_district #num{ display:none; }
    .tt_controls_current_district #num{ display:none; }

    .tt_controls_current_city_place_or_area_of_residence #num{ display:block; }
    .tt_controls_current_city_place_or_area_of_residence #char{ display:block; }

    .tt_controls_closest_landmark_or_plot_number #num{ display:block; }
    .tt_controls_closest_landmark_or_plot_number #char{ display:block; }
    
    .azButton .numericKeyboard #char {
      display: block;
    }

