<html>
  <head>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag 'utils' %>

    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <script language="javascript">
      tt_cancel_destination = '/patients/show/<%= @patient.patient_id %>';
      tt_cancel_show =  '/patients/show/<%= @patient.patient_id %>';
      var hash_str = "|";


    </script>

    <style>
      #tt_page_select_ .options { height: 506px; }

      #tt_page_life_threatening_condition .inputFrameClass {
        height: 450px;
      }

      #tt_page_life_threatening_condition .options {
        height: 16em;
      }

    </style>


  </head>
  <body>

    <div id='description' style='color:#777;position:absolute;margin-top:-70px;'></div><center>
      <form  action="/encounters/create_complaints" method="post">
        <%= hidden_field_tag "encounter[encounter_type_name]", "PRESENTING COMPLAINTS" %>
        <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
        <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
        <%= hidden_field_tag "encounter[provider_id]", current_user.person_id %>

        <table cellpadding=5>
          <tr>
            <td>
            </td>
            <td>
              <select class = "multi" style="width: 100%" name="complaints[]" id="multiple"
                      helptext="Select Complaint(s)" multiple="multiple" nested="true" >
                <option></option>
                <%complaints_set = concept_set('presenting complaint')%>
                <%if complaints_set%>
                  <%complaints_set.sort.each do |concept|%>
                    <%if concept_set(concept).size > 0 %>
                      <optgroup id ="<%=concept%>" label="<%=concept%>">
                        <%complaint_sub_set = concept_set(concept)%>
                        <%if complaint_sub_set %>
                          <%complaint_sub_set.sort.each do |value|%>
                            <option id ="<%=value%>$<%=concept%>" value="<%=concept%>:<%=value%>"><%=value%> <%= '('%><%= concept %><%= ')'%></option>
                          <%end%>
                        <%end%>
                      </optgroup>
                    <%else%>
                      <option id ="<%=concept%>"><%=concept%></option>
                    <%end%>
                  <%end%>
                <%end%>
              </select>
            </td>
          </tr>
        </table>
        <%= touch_text_area_tag "SPECIFIC PRESENTING COMPLAINT", @patient, nil,
          {	:id => "other",
          :optional => true,
          :helpText => "Specific Presenting complaint (optional)"
        }%>
        <%= touch_select_tag "Life threatening condition", @patient, nil,
          {	:ajaxURL => "/encounters/life_threatening_condition?search_string=",
          :helpText => 'Life Threatening Condition',
          :id => 'life threatening condition',
          :tt_onLoad =>"document.getElementById('keyboard').style.display = 'none';"
        } %>

        <%= touch_select_tag "triage category", @patient, options_for_select([]),
          {	:ajaxURL => "/encounters/triage_category?search_string=",
          :helpText => "Select Triage Category",
          :tt_onLoad =>"document.getElementById('keyboard').style.display = 'none';",
          :id => 'triage category'} %>
        <%= touch_text_area_tag "CLINICAL NOTES CONSTRUCT", @patient, nil,
          {	:id => "clinical_notes",
          :optional => true,
          :helpText => "Clinical notes (optional)"
        }%>


        <% if @retrospective %>
          <p><label for="filter_provider">Staff who provided the information (Provider)</label></br>
            <%= text_field "filter" , 'provider', :helpText => 'Staff who provided the information (Provider)', :ajaxURL => '/user/username?username=' %></p>
        <% else %>
          <%= hidden_field_tag "filter[provider]", nil %>
        <% end %>
      </form>
    </center>
  </body>
</html>