<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag 'jquery' %>
<%= stylesheet_link_tag 'extra_buttons' %>
<link href="/stylesheets/opd_cohort.css" media="screen" rel="stylesheet" type="text/css" />

<style type="text/css">

  .tt_controls_start_month .keyboard {
    display:none;
  }

  #tt_page_start_month .options {
    height:515px;
  }

  #tt_page_start_month .options li{
    font-size:30px;
  }

  .tt_controls_end_month .keyboard {
    display:none;
  }

  #tt_page_end_month .options {
    height:515px;
  }

  #tt_page_end_month .options li{
    font-size:30px;
  }

  .tt_controls_start_day #Unknown {
    display:none;
  }

  .tt_controls_end_day #Unknown {
    display:none;
  }

</style>

<form action="/report/process_drug_report" method='post' >

  <%=  select_tag(:drug_id, options_for_select(@drugs),
    { :field_type => 'alpha',
      :helpText => 'Select drug'
    })%>

  <% month_names = month_name_options.gsub('<option value="Unknown">Unknown</option>', '') %>
  <%= text_field_tag "start_year", nil,
    {
    :helpText => 'Start Year',
    :field_type => 'number',
    :absoluteMin => "1890", :min => "1940",
    :absoluteMax => Date.today.year,
    :tt_pageStyleClass => "Numeric NumbersOnly",
    :validationJS => "setDOB();"
  }  %>

  <%= select_tag "start_month", month_names,
    {
    :helpText => 'Start Month',
    :validationJS => "validateDOB();",
    :validationMessage => 'Please enter a valid date',
    :tt_onLoad => "__$('keyboard').style.display = 'none'"
  } %>

  <%= text_field_tag "start_day",  nil,
    {
    :field_type => 'number',
    :helpText => "Start Day" ,
    :validationJS => "validateDOB()",
    :validationMessage => 'Please enter a valid date'
  } %>

  <%= text_field_tag "end_year", nil,
    {
    :helpText => 'End Year',
    :field_type => 'number',
    :absoluteMin => "1890",
    :min => "1940",
    :absoluteMax => Date.today.year,
    :tt_pageStyleClass => "Numeric NumbersOnly",
    :validationJS => "setDOB();"
  }  %>

  <%= select_tag "end_month", month_names,
    {
    :helpText => 'End Month',
    :validationJS => "validateDOB();",
    :validationMessage => 'Please enter a valid date',
    :tt_onLoad => "__$('keyboard').style.display = 'none'"
  } %>

  <%= text_field_tag "end_day",  nil,
    {
    :field_type => 'number',
    :helpText => "End Day" ,
    :validationJS => "validateDOB()",
    :validationMessage => 'Please enter a valid date'
  } %>

</form>

